@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ic0si3');
  src:  url('fonts/icomoon.eot?ic0si3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ic0si3') format('truetype'),
    url('fonts/icomoon.woff?ic0si3') format('woff'),
    url('fonts/icomoon.svg?ic0si3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ika .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-ika .path2:before {
  content: "\e901";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path3:before {
  content: "\e902";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path4:before {
  content: "\e903";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path5:before {
  content: "\e904";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path6:before {
  content: "\e905";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path7:before {
  content: "\e906";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path8:before {
  content: "\e907";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path9:before {
  content: "\e908";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path10:before {
  content: "\e909";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path11:before {
  content: "\e90a";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path12:before {
  content: "\e90b";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path13:before {
  content: "\e90c";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path14:before {
  content: "\e90d";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path15:before {
  content: "\e90e";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path16:before {
  content: "\e90f";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path17:before {
  content: "\e910";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path18:before {
  content: "\e911";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path19:before {
  content: "\e912";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path20:before {
  content: "\e913";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path21:before {
  content: "\e914";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path22:before {
  content: "\e915";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path23:before {
  content: "\e916";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path24:before {
  content: "\e917";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path25:before {
  content: "\e918";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path26:before {
  content: "\e919";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path27:before {
  content: "\e91a";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path28:before {
  content: "\e91b";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path29:before {
  content: "\e91c";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-ika .path30:before {
  content: "\e91d";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path31:before {
  content: "\e91e";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path32:before {
  content: "\e91f";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path33:before {
  content: "\e920";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path34:before {
  content: "\e921";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path35:before {
  content: "\e922";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path36:before {
  content: "\e923";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path37:before {
  content: "\e924";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path38:before {
  content: "\e925";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path39:before {
  content: "\e926";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path40:before {
  content: "\e927";
  margin-left: -0.70703125em;
  color: rgb(0, 0, 0);
}
.icon-ika .path41:before {
  content: "\e928";
  margin-left: -0.70703125em;
  color: rgb(255, 255, 255);
}
.icon-quill:before {
  content: "\e929";
}
.icon-pen:before {
  content: "\e92a";
}
.icon-blog:before {
  content: "\e92b";
}
.icon-eyedropper:before {
  content: "\e92c";
}
.icon-droplet:before {
  content: "\e92d";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-grin2:before {
  content: "\e9ea";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-cool2:before {
  content: "\e9ec";
}
.icon-confused:before {
  content: "\e9f5";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-frustrated2:before {
  content: "\ea00";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube2:before {
  content: "\ea9e";
}
